.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-block: 64px;
  gap: 64px;
}

.container h2,
.container p {
  color: #1f2937;
}

.container p {
  font-size: 24px;
}

.results {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 96px;
}

.results-player,
.results-computer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 16px;
}

.results-player-emoji,
.results-computer-emoji {
  font-size: 64px;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 32px;
  gap: 64px;
}
