@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
  margin: 0;
  /* border: 2px solid green; */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

header {
  background-color: #1f2937;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 32px;

  color: #f9faf8;
}

header h1 {
  font-size: 24px;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding-inline: 32px;
  font-size: 18px;
}

.hero {
  display: flex;
  background-color: #1f2937;
  min-height: 45vh;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding-inline: 32px;
  color: #f9faf8;
}

.hero div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.hero p {
  max-width: 360px;
  font-size: 24px;
  color: #f9faf8;
  line-height: 1.3;
}

.hero img {
  max-width: 100%;
  height: auto;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1f2937;
  background-color: #e5e7eb;
  height: 12vh;
  gap: 16px;
}

.search input {
  width: 40%;
  padding: 12px;
  border-radius: 12px;
}

.card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 64px;
  gap: 32px;
}

.card {
  border: 1px solid #000;
  border-radius: 12px;
  padding: 16px;

  width: 240px;
  flex-shrink: 0;
  background-color: #fffafa;
  text-align: left;
}

.card:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.card h3 {
  text-align: center;
  margin: 8px;
}

.card img {
  border: 1px solid #ddd;
  border-radius: 12px;
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.card p {
  padding: 12px;

  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card h6 {
  padding: 16px;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1f2937;
  background-color: #e5e7eb;
  padding: 64px 30%;
  gap: 12px;
}

.quote em {
  font-size: 36px;
}

.quote h2 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-weight: 800;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #e5e7eb;
  line-height: 1.3;
  background-color: #1f2937;
  height: 12vh;
}

@media only screen and (max-width: 768px) {
  .hero h1 {
    font-size: 24px;
  }

  .hero p {
    font-size: 18px;
  }
}
