.add-btn {
  margin-top: 8rem;
}

/* Recipe Card */
.book-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 4rem;
  gap: 2rem;
}

.book-title {
  text-align: center;
  width: 80%;
}

.book-btn {
  width: 80%;
}

.book-btn-light-green {
  background-color: #6bff66;
  color: black;
}

.book-btn-light-red {
  background-color: #fa5858;
  color: black;
}

.book-btn-light-green:hover,
.book-btn-light-red:hover {
  color: white;
}

/* From */

.add-book-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.is-readed-check label {
  font-size: 1rem;
  font-weight: 500;
  padding-right: 1rem;
}
