.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 4rem;
}

.search input {
  width: 15rem;
  padding: 0.75rem;
  border-radius: 0.75rem;
}

.btn {
  border-radius: 0.75rem;
  padding: 0.75rem;

  background-color: #1f2937;
  color: #e5e7eb;
  cursor: pointer;
}

.btn:hover {
  background-color: #3b4f6b;
}

.btn:active {
  background-color: #7094c7;
}
