.scoreboard {
  padding-top: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.score-info {
  font-size: 2rem;
}

.score-message {
  font-size: 1.25rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}

.scores-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 30rem;
  padding: 0.625rem;
  margin: 0 auto;
}

.score-box {
  width: 170rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score {
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
  font-size: 1.375rem;
  font-weight: bold;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
}

.btn-square {
  width: 10rem;
  height: 10rem;
}

.sign {
  font-size: 5rem;
  margin-bottom: 0.625rem;
}

.btn-restart {
  padding: 0.625rem 1.25rem;
  margin-top: 1.563rem;
  margin-bottom: 1rem;
  color: #f9faf8;
}

@media (max-width: 550px) {
  .title {
    font-size: 1.125rem;
  }

  .score-info {
    font-size: 1.625rem;
  }

  .buttons {
    gap: 0.625rem;
  }

  .btn-square {
    width: 6.25rem;
    height: 6.25rem;
  }

  .sign {
    font-size: 3.125rem;
  }
}
