.scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.score-info {
  font-size: 2rem;
}

.score-message {
  font-size: 1.25rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}

.scores-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 30rem;
  padding: 0.625rem;
  margin: 0 auto;
}

.score-box {
  width: 170rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score {
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
  font-size: 1.375rem;
  font-weight: bold;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
}

.btn {
  border-radius: 0.625rem;
  background-color: #1f2937;
  cursor: pointer;
}

.btn-square {
  width: 10rem;
  height: 10rem;
}

.btn:hover {
  background-color: #3b4f6b;
}

.btn:active {
  background-color: #7094c7;
}

.sign {
  font-size: 5rem;
  margin-bottom: 0.625rem;
}

.modal {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 18.75rem;
  padding: 1.875rem;
  border-radius: 0.625rem;
  background-color: #f9faf8;
  text-align: center;
  font-size: 1.875rem;
  user-select: none;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.btn-restart {
  padding: 0.625rem 1.25rem;
  margin-top: 1.563rem;
  margin-bottom: 1rem;
  color: #f9faf8;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}

.overlay.active {
  display: block;
}

@media (max-width: 550px) {
  .title {
    font-size: 1.125rem;
  }

  .score-info {
    font-size: 1.625rem;
  }

  .buttons {
    gap: 0.625rem;
  }

  .btn-square {
    width: 6.25rem;
    height: 6.25rem;
  }

  .sign {
    font-size: 3.125rem;
  }

  .modal {
    width: 95%;
  }
}
